<div class="ins-body">

    <div class="ins-container">

        <div class="ins-title">烧杯</div>

        <div class="ins-content font-sm">

            <div class="ins-row">

                <div>
                    <img class="img-xxl" src="../../static/images/instruction/beaker.png" alt="">
                </div>

                <div class="ins-row-right">
                    <div class="margin-left-2x">烧杯用来盛放药品，场景内会有两个大小不一的烧杯，较大的烧杯盛有KBr粉末，较小的烧杯盛有样品粉末。</div>
                    <div class="margin-left-2x margin-top-1x">大小烧杯的容量分别为250mg和8mg。</div>
                </div>

            </div>

        </div>

    </div>

    <div class="ins-container">

        <div class="ins-title">药匙</div>

        <div class="ins-content font-sm">

            <div class="ins-row">
                
                <div>
                    <img class="img-xxl" src="../../static/images/instruction/spoon.png" alt="">
                </div>
    
                <div class="ins-row-right">
                    <div class="margin-left-2x">药匙用于取药物，在物品栏内点击空药匙后点击烧杯等物体，即可取药；当药匙装有药品时则会倒出药品到指定物体。</div>
                    <div class="margin-left-2x margin-top-1x">样品粉末每次取1mg，KBr粉末每次取25mg。</div>
                </div>

            </div>

        </div>

    </div>

    <div class="blank-footer"></div>
</div>