<div class="ins-body">

    <div class="ins-container">

        <div class="ins-title">按钮</div>

        <div class="ins-content">

            <div class="ins-row neg-margin-left-1x">

                <div class="ins-row-left">
                    <img class="img-xl" src="../../static/images/instruction/pause.png" alt="">
                </div>

                <div class="ins-row-right">
                    <div>：暂停游戏并调出菜单。</div>
                </div>

            </div>

            <div class="ins-row neg-margin-left-1x">

                <div class="ins-row-left">
                    <img class="img-xl" src="../../static/images/instruction/bulb-off.png" alt="">
                </div>

                <div class="ins-row-right">
                    <div>：调出提示信息。当任务更新时，提示按钮会发亮。</div>
                </div>

            </div>

            <div class="ins-row neg-margin-left-1x">

                <div class="ins-row-left">
                    <img class="img-xl" src="../../static/images/instruction/bulb-on.png" alt="">
                </div>

                <div class="ins-row-right">
                    <div>：发亮时的提示按钮。</div>
                </div>

            </div>

            <div class="ins-row neg-margin-left-1x">

                <div class="ins-row-left">
                    <img class="img-xl" src="../../static/images/instruction/magnifier.png" alt="">
                </div>

                <div class="ins-row-right">
                    <div>：放大镜可以观察某些物体的细节。</div>
                </div>

            </div>

        </div>

    </div>

    <div class="ins-container">

        <div class="ins-title">消息提示</div>

        <div class="ins-content">

            <div class="ins-row margin-bottom-sm">

                <div class="ins-row-left">
                    <img class="img-s" src="../../static/images/instruction/spop-info.png" alt="">
                </div>

                <div class="ins-row-right">
                    <div>：获取物品时的提示。</div>
                </div>

            </div>

            <div class="ins-row margin-bottom-sm">

                <div class="ins-row-left">
                    <img class="img-s" src="../../static/images/instruction/spop-misson.png" alt="">
                </div>

                <div class="ins-row-right">
                    <div>：任务目标的提示。</div>
                </div>

            </div>

            <div class="ins-row margin-bottom-sm">

                <div class="ins-row-left">
                    <img class="img-s" src="../../static/images/instruction/spop-complete.png" alt="">
                </div>

                <div class="ins-row-right">
                    <div>：完成任务的提示。</div>
                </div>

            </div>

            <div class="ins-row margin-bottom-sm">

                <div class="ins-row-left">
                    <img class="img-s" src="../../static/images/instruction/spop-error.png" alt="">
                </div>

                <div class="ins-row-right">
                    <div>：错误操作的提示。</div>
                </div>

            </div>

        </div>

    </div>
    
    <div class="blank-footer"></div>
</div>